<section class="schedule" id="schedule">
    <div class="wrapper">
        <h2 class="section-title">Programação</h2>

        <ul class="schedule-items">
            {{#each schedule}}
                <li>
                    {{#if speaker}}
                        <label for="schedule-item-{{@index}}" class="see-details-link"> {{time}} |
                            {{{ title }}} - {{speaker.name}}
                            <div class="pull-right">
                                {{#if record}}
                                    <a href="{{record}}" target="_blank" class="schedule-details-link">
                                      <i class="fa fa-file-video-o"></i>
                                      <span>ver vídeo</span>
                                    </a>
                                {{/if}}
                                {{#if slides}}
                                    <span>|</span>
                                    <a href="{{slides}}" target="_blank" class="schedule-details-link">
                                      <i class="fa fa-newspaper-o"></i>
                                      <span>ver slides</span>
                                  </a>
                                {{/if}}
                            </div>
                            <input type="checkbox" id="schedule-item-{{@index}}" class="see-details"/>
                            <p class="details">{{{ details }}}</p>
                        </label>
                    {{else}}
                      {{#if time }} {{time}} | {{/if}} {{{title}}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</section>
