<section class="speaker" id="speaker">
    <div class="wrapper">
        <h2 class="section-title">Palestrantes</h2>

        <div class="speaker__profile">
            <div class="row">
                {{#each speakers}}
                    <div class="col-xs-6 col-md-3 partner-logo speaker__profile-info"
                            data-name="{{name}} @{{company}}"
                            data-bio="{{bio}}">
                        <figure class="thumbnail speaker__grow show-modal-info">
                        <img src="{{photo}}" alt="{{name}}" class="img-responsive">
                        <figcaption>
                            <button type="button"  class="button__speaker-about " name="button">Saiba mais</button>
                        </figcaption>
                        </figure>
                        <div class="speaker__profile-about">
                            <h3 class="text-center"> <a href="#" class="show-modal-info">
                                {{name}} </br>
                                <small>@{{company}}</small>
                            </a></h3>
                            <p class="hide"></p>
                            <div class="speaker__profile-social">
                                {{#if social}}
                                    {{#each social}}
                                        <a href="{{url}}" target="_blank" class="hidden-xs"><i class="fa fa-{{type}}"></i> </a>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
