<section class="workshop_schedule" id="workshop_schedule">
    <div class="wrapper">
        <h2 class="section-title">Workshops - {{ workshop_schedule.date }} </h2>

        <p>Se cadastre <a href="{{ workshop_schedule.registration_url }}" target="_blank">aqui</a></p>

        <br>

        <ul class="schedule-items">
            {{#each workshop_schedule.schedules}}
                <li>
                    <h2>
                        {{ title }}
                    </h2>
                    <label for="schedule-item-{{@index}}" class="see-details-link"> {{time}}
                        <h3><a target="_blank" href="{{ place_url }}">{{place}}</a></h3>
                        <h3><a target="_blank" href="{{ instructor_linkedin }}">{{ instructor }}</a></h3>
                        <p class="workshop_details">
                            {{{ details }}}
                        </p>
                    </label>
                </li>
            {{/each}}
        </ul>
    </div>
</section>
