<footer class="footer" role="contentinfo">
        <div class="wrapper">
        <div class="footer__info">
            <div class="footer__info-brand">
              <img src="assets/img/opensanca.svg" alt="{{ info.eventName }} - Somos Caipiras e gostamos de Tecnologia">
            <p>
              {{ info.eventName }} - Somos caipiras e gostamos de tecnologia © Opensanca {{info.year}}
            </p>
            </div>

        </div>
        <div class="footer__contact footer__contact--mobile">
            <p>Enviar e-mail para</p>
            <a href="mailto:contato@opensanca.com.br">
            contato@opensanca.com
            </a>
            <div class="footer__info-social footer__info-social--mobile">
            <a href="https://twitter.com/opensanca" target="_blank">
                <img src="assets/img/twitter.svg" class="footer__info-icon" alt="">
            </a>
            <a href="https://facebook.com/opensanca" target="_blank">
                <img src="assets/img/facebook.svg" class="footer__info-icon" alt="">
            </a>
            <a href="https://github.com/opensanca" target="_blank">
                <img src="assets/img/github.svg" class="footer__info-icon" alt="">
            </a>
            </div>
        </div>
        </div>
        <div class="wrapper">
        <div class="footer__more">
            <div class="footer__links">
            <ul>
              <li><a href="codigo-conduta-devconf.html" target="_blank">Código de Conduta {{ info.eventName }} {{ info.year }}</a></li>
            </ul>
            </div>
            <div class="footer__info-social">
            <a href="https://twitter.com/opensanca" target="_blank">
                <img src="assets/img/twitter.svg" class="footer__info-icon" alt="">
            </a>
            <a href="https://facebook.com/opensanca" target="_blank">
                <img src="assets/img/facebook.svg" class="footer__info-icon" alt="">
            </a>
            <a href="https://github.com/opensanca" target="_blank">
                <img src="assets/img/github.svg" class="footer__info-icon" alt="">
            </a>
            </div>



        </div>
        </div>
    </footer>
